# Config with secrets
Apollo/Core/Network/Config.swift

# Xcode
*.xcuserstate
*.xccheckout
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM
*.dSYM.zip

# System
.DS_Store

# Swift Package Manager
.build/
*.resolved

# Prompts
Prompts/